<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Finder</title>
    <link rel="stylesheet" href="/styles.css">
    <!-- Google Font example -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>Recipe Finder</h1>

    <form action="/search" method="GET">
      <label for="q">Search for a recipe:</label>
      <input type="text" id="q" name="q" placeholder="chicken, pasta, tacos..." required>
      <button type="submit">Search</button>
    </form>

    <div class="strawberry-div">
      <img
        src="https://ih1.redbubble.net/image.2893385659.6056/flat,750x,075,f-pad,750x1000,f8f8f8.jpg"
        alt="Cute strawberry art"
        class="strawberry-img"
      >
    </div>

    
    <div class="cup-div">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_ZDsDNW2iaJ9iym9oI3e7NMoV7Gj0Mt4NRQ&s"
        alt="Cup illustration"
        class="cup-img"
      >
    </div>
  </body>
</html>
