<!DOCTYPE html>
<html>
  <head>
    <title> Recipe Finder</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>B.A.C.K. Recipe Finder</h1>

    <form action="/search" method="GET">
      <label for="q">Search for a recipe:</label>
      <input type="text" id="q" name="q" class="search-box" placeholder="chicken, pasta, tacos..." required>
      <button type="submit" class = "search-button">Search</button>
    </form>
    <p>
        <a href="/saved" class="search-button">View Saved Recipes</a>
    </p>

    <div class = images>
    <div class="tiana">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjsT5qTXqSLvYb4LMgqVnMRiVazTm-Db4ZRw&s"
        alt="Cute strawberry art"
        class="tiana"
      >
    </div>

    
    <div class="remy">
      <img
        src="https://media.tenor.com/YjwAmepW9KIAAAAi/remy-remi.gif"
        alt="Cup illustration"
        class="remy"
      >
    </div>

    <div class="donald">
      <img
        src="https://drgrobsanimationreview.com/wp-content/uploads/2019/01/Chef-Donald-%C2%A9-Walt-Disney.jpg"
        alt="Cup illustration"
        class="donald"
      >
    </div>
    <div class="poem poem-top-right">
  <p><em>I'm hungry, dramatic,—</em></p>
  <p><em>my cravings attack—</em></p>
</div>

<div class="poem poem-bottom-left">
  <p><em>Only a recipe can bring</em></p>
  <p><em>my joy B.A.C.K</em></p>
</div>

    </div>
  </body>
</html>
