body {
  font-family: 'Poppins', sans-serif;
  background-color: #e4bacf;
  color: #333;
  font-size: 16px;
  padding: 20px;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 20px;
}

img {
  border-radius: 8px;
}

.images{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.remy {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.tiania {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.donald {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
}

.images img {
  max-width: 260px;
  height: auto;
}

.remy img {
  max-width: 200px;
  height: auto;
}

label {
  font-size: 24px;
  font-weight: 500; 
}

.poem {
  position: absolute;
  width: 500px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
  line-height: 1.3;
}

.poem-top-right {
  top: 200px;
  right: 50px;
  text-align: right;

}

.poem-bottom-left {
  bottom: 80px;
  left: 80px;
  text-align: left;
}

.search-box {
  width: 200px;           
  padding: 12px 16px;     
  font-size: 18px;        
  border-radius: 12px;    
  border: 2px solid #ccc; 
  outline: none;
}

.button-row {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
  }
  
  .inline-form {
    margin: 0;  
  }
  
  .search-button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #ff6fa5;
    color: white;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-width: 180px;  
  }
/* .saved-button {
    padding: 12px 20px;
    font-size: 14px;
    background-color: #ff6fa5;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
  } */