body {
  font-family: 'Poppins', sans-serif;
  background-color: #e4bacf;
  color: #333;
  font-size: 16px;
  padding: 20px;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 20px;
}

img {
  border-radius: 8px;
}

.images{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 20px;
}

.remy {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.tiania {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.donald {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
}

.images img {
  max-width: 260px;
  height: auto;
}