body {
  font-family: 'Poppins', sans-serif;
  background-color: #e4bacf;
  color: #333;
  font-size: 16px;
  padding: 20px;
}

h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 20px;
}

img {
  border-radius: 8px;
}

.images{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.remy {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

.tiania {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.donald {
  grid-column: 3;
  grid-row: 2;
  text-align: center;
}

.images img {
  max-width: 260px;
  height: auto;
}

.remy img {
  max-width: 200px;
  height: auto;
}

label {
  font-size: 20px;
  font-weight: 500; 
}

.poem {
  position: absolute;
  width: 500px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
  line-height: 1.3;
}

.poem-top-right {
  top: 180px;
  right: 50px;
  text-align: right;

}

.poem-bottom-left {
  bottom: 120px;
  left: 80px;
  text-align: left;
}